/.idea
/.vs
/.vscode
/.vsconfig
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.csproj.DotSettings
/Library
/Logs
/obj
/LuaBag.sln
/LuaBag.sln.DotSettings.user
/Temp